*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-transform: uppercase;
    margin-bottom: 15px;
}
header{
    text-align: center;
    background-image: url('../img/fundo-topo.jpg');
    padding: 10px 0;
}
header h1{
    margin: 0;
    height: 84px;
}

nav li{
    display: inline;
    background-image: url('../img/patinha-preta.png');
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 27px;
    margin-right: 10px;
}

#itemContato{
    background-image: none;
    padding-right: 0;
    margin-right: 0;
}

nav{
    text-align: center;
    padding: 15px 0;
}

nav a{
    text-decoration: none;
    color: #000;
}

nav a:hover{
    color: #6dd432;
}


.fundo-verde{
    background-color: #bdff9c;
}

.container{
    width: 900px;
    margin: 0 auto;
    padding: 56px 0;
}

.flex-container .col{
    width: 430px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
}

.produto{
    width: 235px;
}

.produto figure{
    border: 1px solid #c4c4c4;
    background-color: #fff;
    text-align: center;
    margin-top:30px;
    height: 160px;
    line-height: 160px;
    padding: 0;
}

.produto figure img{
    vertical-align: middle;
}

.texto-centralizado{
    text-align: center;
}

.btn-pata{
    border: 1px solid #91e467;
    background-color: #d2fbbd;
    text-decoration: none;
    padding: 10px 20px;
    color: #000;
    border-radius:5px;
    cursor: pointer;
    display: inline-block;
}

form input,
form textarea{
    width: 100%;
    border: 1px solid #6dd432;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

form textarea{
    resize: none;
}

form{
    width: 380px;
    margin-top: 10px;

}
iframe{
    width: 100%;
    margin-top: 28px;
}

footer{
    text-align: center;
    border-top: 1px solid #6dd432;
    font-size: 15px;
    padding: 15px 0;
}

@media (max-width: 880px) {

    *{
        box-sizing: border-box;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        
    }

    .container {
        width: 100%;
        margin: 0 auto;
        padding: 15px;
    }

    .fundo-verde{
        width: 100%;
    }

    .col{
        width:100%;
    }

    .texto-centralizado, h2{
        text-align: center;
    }

    .flex-container .col {
        width: 100%;
    }

    form {
        width: 100%;
    }

    .cachorros{
        width: 100%;
        padding: 0px 15%;
    }

    .justify{
        text-align: justify;
        padding: 20px 0px;
    }




}

@media (max-width: 480px){
    

    .cachorros{
        width: 100%;
        padding: 5px 2%;
    }

    ul{
        width:100%;
    }

    nav li {
        display:inline;
        background-position: right ;
        margin-right: 0px;
    }

    .flex-container{
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
    }

    iframe{
        width: 100%;
        margin-top: 15px;
    }

}
